:root {
  /* Color Variables */
  --background-color: #f5f5f5;
  --primary-color: #606060;
  --primary-hover-color: #2980b9;
  --text-color: #333;
  --border-color: #ccc;
  --label-color: #555;
  --error-color: #e74c3c;

  /* Font Variables */
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size: 16px;

  /* Spacing Variables */
  --padding: 25px;
  --border-radius: 8px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--primary-color);
  margin: 20px 0 40px 0;
}

.todo-app {
  background-color: white;
  width: 300px;
  height: 350px;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.btn {
  cursor: pointer;
  width: 100px;
  margin: 10px;
  color: white;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--primary-hover-color);
}

.large-btn {
  width: 80%;
  font-size: 1.2rem;
  align-self: center;
  justify-self: center;
}

.close-task-form-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.close-icon {
  width: 20px;
  height: 20px;
}

.task-form {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: var(--border-radius);
  padding: 15px;
  width: 300px;
  height: 350px;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.task-form-header {
  display: flex;
  justify-content: flex-end;
}

.task-form-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.task-form-footer {
  display: flex;
  justify-content: center;
}

.task-form-label,
#title-input,
#date-input,
#description-input {
  display: block;
}

.task-form-label {
  margin-bottom: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--label-color);
}

#title-input,
#date-input,
#description-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 2px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

#confirm-close-dialog {
  padding: 10px;
  margin: 10px auto;
  border-radius: 15px;
  background-color: white;
  border: 1px solid var(--border-color);
}

.confirm-close-dialog-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.discard-message-text {
  font-weight: bold;
  font-size: 1.5rem;
}

#tasks-container {
  height: 100%;
  overflow-y: auto;
}

.task {
  margin: 5px 0;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.hidden {
  display: none;
}

@media (min-width: 576px) {
  .todo-app,
  .task-form {
    width: 400px;
    height: 450px;
  }

  .task-form-label {
    font-size: 1.5rem;
  }

  #title-input,
  #date-input {
    height: 2rem;
  }

  #title-input,
  #date-input,
  #description-input {
    padding: 5px;
    margin-bottom: 20px;
  }
}
